{% extends "base.html" %} 
{% load static %}

{% block title %}Home{% endblock %} 

{% block navbar %}
{% include "navbar.html" %} 
{% endblock navbar %} 

{% block content %}
<div class="w-screen  ">
    <div class="w-10/12 h-screen m-auto flex flex-col lg:flex-row justify-between items-center">
        <div class="w-full lg:w-5/12 flex flex-col gap-4">
            <h1 class="text-5xl font-bold ">Welcome To My Blog</h1>
            <p class="text-xl text-slate-700" >Hello, this is my personal blog. I will share my thought about everything. </p>
            <a class="btn btn-primary max-w-fit" href="{% url "blog" %}">Explore</a>
        </div>
        <div class="w-full lg:w-6/12 object-contain order-1 lg:order-2">
            <img src="{% static 'images/hero_image.png' %}" alt="hero image" >
        </div>
    </div>
</div>
{% endblock content %}
